*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	background-color: #fcba03;
	height: 100vh;
}

.container {
	width: 80%;
	margin: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#emailList {
	width: 100%;
	list-style: none;
}

.emailList__item {
	width: 100%;
	padding: .5em;
	border: 1px solid #333;

}

.emailList__item:not(:first-child) {
	border-top: none;
}

.email {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	text-decoration: none;
}

.email__checkbox {
	flex: 1;
}

.email__subject {
	flex: 2;
}

.email__body {
	flex: 14;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.buttons__create, .buttons__delete {
	padding: 1em 2em;
	border-radius: 4px;
}